<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cadastrar</title>
</head>
<body>
  <form action="/cadastrar" method="post">

    <label for="usuario">Usuário</label>
    <input type="text" name="usuario" id="usuario" />

    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" />


    <label for="senha">Senha</label>
    <input type="text" name="senha" id="senha" />

    <input type="submit" value="Cadastrar">
  </form>
</body>
</html>