<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/cadastrar.css" />
    <title>Cadastrar | iMail</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
    />
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <img src="images/cadastrar.svg" alt="Cadastro" />
      <form action="/cadastrar" autocomplete="off" method="post">
        <h1>Cadastro</h1>
        <label for="nome"
          >Nome
          <div class="nome">
            <span class="material-symbols-outlined"> edit </span>
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Insira o nome"
              onfocus="focused('nome')"
            /></div
        ></label>


        <label for="usuario"
          >Username
          <div class="username">
            <span class="material-symbols-outlined"> person </span>
            <input
              type="text"
              name="usuario"
              id="usuario"
              placeholder="Insira seu usuário"
              onfocus="focused('user')"
            /></div
        ></label>

        <label for="senha"
          >Senha

          <div class="password">
            <span class="material-symbols-outlined"> lock </span>
            <input
              type="password"
              name="senha"
              id="senha"
              placeholder="Insira sua senha"
              onfocus="focused('pass')"
            /></div
        ></label>

        <input type="submit" value="Cadastrar" />
      </form>
    </div>
  </body>
</html>
