<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login | iMail</title>
</head>
<body>
 
        <h1>Seja Bem Vindo <span class="user"><%= nome %></span></h1>
        <a href="/usuarios"><button>Ver Usuários</button></a>
        <a href="/cadastrar"><button>Cadastro</button></a>
        <form action="/deslogar" method="post">
            <input type="submit" value="Deslogar">
          </form>
    

</body>
</html>